.currencies {

  &__heading {

    h1 {
      font-size: 2.8rem;
    }
  }

  &__search {

    input {
      width: 30rem;
    }
  }

  &__list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

    span:nth-child(1) {
      width: 50%;
    }

    span:nth-child(2) {
      width: 25%;
    }

    span:nth-child(3) {
      width: 25%;
    }
  }

  &__container {
    height: calc(100vh - 25rem);
    overflow-y: auto;
    overflow-x: hidden;
  }
}