.search-input {

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
  }

  &:before {
    top: 9px;
    left: 9px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #a3a3a3;
  }

  &:after {
    top: 21px;
    left: 20px;
    width: 3px;
    border: 1px solid #a3a3a3;
    transform: rotateZ(45deg);
  }

  input {
    padding-left: 3rem;
  }
}