.login-wrapper {
  height: 100vh;
  background-color: $color-orange-dark;
}

.login {
  width: 36.6rem;
  border-radius: 8px;
  z-index: 5;

  &__logo {
    width: 4rem;
    height: 4rem;
    background: $color-orange-dark;
    border-radius: 4px;
  }

  &__heading {
    margin-bottom: 0.4rem;
  }
}