.header {
  height: $header-height;
  border-bottom: 1px solid $color-border-main;

  &__brand {

    .avatar {
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 1rem;
      border-radius: 100%;
      line-height: 32px;
      color: $color-white;
    }

    .stores {
      color: $color-font-dark;
    }
  }
}