input {
  height: 3.4rem;
  padding-left: 1.3rem;
  border: 1px solid $color-border-main;
  border-radius: 4px;
  outline: none;

  &:focus-visible {
    border: 1px solid $color-border-active;
  }
}

button.btn {
  height: 3.4rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 4px;

  &--primary {
    background-color: $color-orange-dark;
    color: $color-white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  &--default {
    border: 1px solid $color-border-main;
    background: $color-white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06);
  }

  &--add {
    padding: 7px 12px 7px 26px;

    &:after, &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      pointer-events: none;
    }

    &:before {
      border-top: 2px solid $color-white;
      left: 9px;
      top: 16px;
    }

    &:after {
      border-left: 2px solid $color-white;
      left: 13px;
      top: 12px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color-font-dark;
  font-weight: 700;
  letter-spacing: -1px;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

.form-validation {
  
  span {
    color: $color-error;
    font-size: 1.2rem;
  }
}

.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;

  .element {
    position: absolute;
    background-image: url("@/assets/global/pz.webp");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.35s ease-in-out;
  }
}