// Colors
$color-orange-dark: rgba(255, 102, 0, 1);
$color-orange-light: rgba(255, 102, 0, 0.07);
$color-white: #fff;
$color-error: #db2222;

$color-font-main: rgba(102, 102, 102, 1);
$color-font-dark: rgba(20, 20, 20, 1);

$color-border-main: rgba(204, 204, 204, 1);
$color-border-light: rgba(0, 0, 0, 0.07);
$color-border-active: rgba(255, 102, 0, 0.6);

$color-icon: rgba(128, 128, 128, 1);

$color-table-hover: rgba(0, 0, 0, 0.03);
$color-nav: rgba(242, 242, 242, 1);

// Dimenstion
$header-height: 6rem;
$nav-width: 256px;

